.active{
    background-color: rgb(189, 138, 231);

}
a{
    text-decoration: none;
}
img{
    width: 50px;
    height: 50px;
}
header{
    background-color: rgb(135, 16, 238);
    border-radius: 0 0 25px 25px;
    padding-left: 25px;
    color: white;
    padding-bottom: 5px;
    padding-top: 40px;
    margin-bottom: 20px;
}
form > *{
    margin: 5px;
}
*{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
}
header>a{
    border-radius: 20px;
    margin-right: 5px;
    color: white;
    padding: 3px 20px 3px 20px;
}
header>a.active{
    color: rgba(255, 255, 255, 0.836);
}

form{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px;
}
tr{
    margin-bottom: 10px;
    
}
caption{
font-size: 40px;
}
th{
    border-bottom: 2px solid gray;
}
input{
    width: 95%;
    padding-left: 10px;
    border: 2px solid gray;
}
table{
    width: 80%;
    border-spacing: 0px;
    text-align: center;
}
