
@{
}
<form asp-action="AddCategory" method="post">
    <div asp-validation-summary="All"></div>
    <div>
    <lavel for="NameCategory">Имя категории</lavel>
    <input name="NameCategory"/>
    </div>
    <button type="submit">Создать</button>
 </form>