@using ToDoList.Models.DbModel
@model List<Category>
@{
}
<a asp-action="AddCategory"> Add Category </a>
<table>
    <tr>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach(var category in @Model){
    <tr>
    <td><a asp-action="CategoryWithTasks" asp-route-id="@category.IdCategory">@category.NameCategory</a></td>
    <td><a asp-action="EditCategory" asp-route-id="@category.IdCategory">Edit</a>|<a asp-action="DeleteCategory" asp-route-id="@category.IdCategory">Delete</a> </td>
    </tr>
    }
</table>
